* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    

}

em{
    color: grey;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}
.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: crimson;


}
.navbar.sticky .menu li a:hover{
    color: white;
} 

.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;

}

#home{
    display: flex;
    background: url("../images/pizza2.png") right no-repeat;
    background-color: black;
    height: 80vh;
    color: white;
    min-height: 400px;
    font-family: 'Roboto', sans-serif;
    
}